---
title: Wistiki moves to Japan!
---

<div id="index" class="index hide-left-column hide-right-column lang_fr">
  <header id="header">
        <div class="container">
          <div class="row top">
            <div class="col-xs-3 logo">
              <a href="http://www.wistiki.com/" title="Wistiki">
                <img class="img-responsive" src="http://www.wistiki.com/themes/site/img/logo.png" alt="Wistiki" />
              </a>
            </div>
            <div class="col-xs-9 menu">
              <ul class="row">
                <li class="col-xs-3 "><a href="http://www.wistiki.com/content/1-communaute">コミュニティ</a></li>
                <li class="col-xs-3 "><a href="http://www.wistiki.com/3-wistiki-pack">ショップ</a></li>
                <li class="col-xs-3 "><a href="http://www.wistiki.com/nous-contacter">コンタクト</a></li>
                <li class="col-xs-3 social">
                  <a href="https://www.facebook.com/Wistiki" target="_blank"><img src="http://www.wistiki.com/themes/site/img//facebook.png" alt=""></a>
                  <a href="https://twitter.com/TeamWistiki" target="_blank"><img src="http://www.wistiki.com/themes/site/img//twitter.png" alt=""></a>
                  <a href="https://plus.google.com/+Wistiki/videos" target="_blank"><img src="http://www.wistiki.com/themes/site/img//google.png" alt=""></a>
                </li>
              </ul>
              <div class="langues">
                <ul>
                  <li><a href="http://www.wistiki.co.uk">EN</a></li>
                  <li><a href="http://www.wistiki.es">ES</a></li>
                  <li><a href="">JP</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  </header>
    <!-- Blocs -->
  <main>
    <section id="slide">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <header>
              <h1>自分のものを失うことはありません !</h1>
            </header>
            <div class="description">
              <p>音を出すと<strong>Wistiki</strong>を通して、あなたのスマートフォンやタブレットからあなたのビジネスをジオタグ</p>
              <p class="price">
                <span>3.369,35 &yen;</span>
                <a href="http://www.wistiki.com/3-wistiki-pack">購入</a>
              </p>
              <p class="conditions">無料のアプリケーション</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style>
      #slide {
        background: #a5a5a7 url("http://www.wistiki.com/themes/site/img/fond-home-lang_fr.jpg") no-repeat scroll center center;
      }
    </style>
    <aside class="gallery container">
      <a href="https://www.youtube.com/embed/1Ef3-xt8Ivc" class="fancy-div">ビデオプレゼンテーションを見る</a>
      <div class="row">
        <div class="col-xs-4 img-responsive">
          <a href="http://www.wistiki.com/themes/site/img/big/img1.jpg" class="fancy-div">
            <img src="http://www.wistiki.com/themes/site/img/img1.jpg" alt="" />
          </a>
        </div>
        <div class="col-xs-4">
          <a href="http://www.wistiki.com/themes/site/img/big/img2.jpg" class="fancy-div">
            <img src="http://www.wistiki.com/themes/site/img/img2.jpg" alt="" />
          </a>
        </div>
        <div class="col-xs-4">
          <a href="http://www.wistiki.com/themes/site/img/big/img3.jpg" class="fancy-div">
            <img src="http://www.wistiki.com/themes/site/img/img3.jpg" alt="" />
          </a>
        </div>
      </div>
    </aside>
    <section id="howto" class="container">
      <header>
        <h2>それは動作しますか</h2>
      </header>
      <div class="content">
        あなたの車や財布Wistikiあなたのキーを添付または貼り付けます。次に、あなたのスマートフォンやタブレットから世界中Wistikiを鳴らすとgeolocateことができます。
        あなたは、単一のスマートフォンから複数Wistikiを管理することができます。
      </div>
      <!-- <img src="http://www.wistiki.com/themes/site/img/phone-home-lang_fr.jpg" alt="" /> -->
      <%= image_tag "phone-home-lang-jp.png" %>
      <div class="steps">
        <div class="col-xs-3">
          <h3>着メロWistiki</h3>
          <p>あなたの目的を見つけるためにあなたのスマートフォンからWistikiの音を確認します。あなたは、このように迅速にあなたのビジネスを見つけるために毎日時間を節約することができます.</p>
        </div>
        <div class="col-xs-3">
          <h3>逆に着メロ</h3>
          <p>ボタンWistikiを押して、スマートフォンで音楽を作る。あなたはそれがサイレントモードであっても、あなたのスマートフォンを見つけることができます</p>
        </div>
        <div class="col-xs-3">
          <h3>GPS座標</h3>
          <p>アプリケーションのマップ上の失われたアイテムのGPS位置を検出します。 GPS座標は、彼が最後にスマートフォンに近かったWistikiの位置に対応しています</p>
        </div>
        <div class="col-xs-3">
          <h3>仮想ましょう</h3>
          <p>あなたは、あなたの被写体が離れてスマートフォンから移動したときに警告するために電子リーシュモードを有効にすることができます。あなたはあなたのビジネスの損失を予測する監視下にあなたのオブジェクトを置くことができます</p>
        </div>
      </div>
    </section>

    <section id="features" class="container">
      <div class="col-xs-6 details">
        <img class="img-responsive" src="http://www.wistiki.com/themes/site/img/wistiki-color-lang_fr.png" alt="" />
        <span>Wistikiは付属しています：</span>
        <ul>
          <li>1 ストラップ</li>
          <li>1 両面 </li>
          <li>1 バッテリー（変更可能）</li>
        </ul>
        <p class="price">
          <span>3.369,35 &yen;</span>
          <a href="http://www.wistiki.com/3-wistiki-pack">購入</a>
        </p>
      </div>
      <div class="col-xs-6 features">
        <header>
        <h4>仕様書</h4>
        </header>
        <ul>
          <li>
            <span class="feature-title">大きさ</span>
            <span>Wistikiは実用的かつ軽量なアクセサリーです</span>
          </li>
          <li>
            <span class="feature-title">水密性と抵抗</span>
            <span>フランスで行われたこのアクセサリは、雨に抵抗する。これは、50キロの負荷を運ぶことができます。</span>
          </li>
          <li>
            <span class="feature-title">スコープ </span>
            <span>
              最後のGPS位置：世界中 <br />
              着信音やレーダー（ブルートゥース4.0）：50メートルまで.
            </span>
          </li>
          <li>
            <span class="feature-title">エネルギー供給</span>
            <span>
            フラットバッテリー（交換可能）<br />
            1年までのバッテリ寿命
            </span>
          </li>
          <li>
            <span class="feature-title">IOSとAndroidの可用性</span>
            <span>自由のためのIOSとAndroidアプリケーションのダウンロード。</span>
          </li>
          <li>
            <span class="feature-title">スマートフォンとタブレットの互換性</span>
            <span>
              iPhone 4s, 5, 5c, 5s, 6, 6+<br />
              iPad 3, 4, Air, mini<br />
              iPod Touch 5<br />
              Samsung, Nexus, HTC, LG, Huawei, Xioami<br />
            </span>
          </li>
        </ul>
      </div>

  </main>

  <footer id="footer">
        <div class="container">
          <ul class="menu-footer">
            <li><a href="http://www.wistiki.com/content/2-faq">よくある質問</a></li>
            <li><a href="http://www.wistiki.com/content/6-condition-generale-de-vente">規約と条件</a></li>
          </ul>
          <div class="copyright pull-right">
            <a href="http://www.ignition-program.com">Ignition Program</a> - Wistiki moves to Japan !<br />
            <a href="http://www.wistiki.com/content/7-mentions-legales">法律上の注意事項</a>
          </div>
        </div>
  </footer>

  </div><!-- #footer -->
</div>


<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <!-- Tag Effiliation -->
      <script src="http://mastertag.effiliation.com/mt660016106.js?page=home" async="async" ></script>